In [1]:
import pandas as pd

In [21]:
data = {
    "Department": ["IT", "HR", "IT", "Finance", "HR", "Finance", "IT"],
    "Employee": ["A", "B", "C", "D", "E", "F", "G"],
    "Salary": [60000, 45000, 65000, 70000, 48000, 72000, 64000]
}
dff = pd.DataFrame(data)
df = pd.read_csv("Flavors.csv")
df

,Flavor,BaseFlavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

## Groupby Function

In [22]:
group_by_frame = df.groupby(['BaseFlavor'])["Flavor Rating"].mean()

In [18]:
group_by_frame

BaseFlavor  Liked
Chocolate   Yes      8.4
Vanilla     No       3.6
            Yes      7.8
Name: Flavor Rating, dtype: float64

In [19]:
df.groupby("BaseFlavor").count()

            Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
BaseFlavor
Chocolate        3      3              3               3             3
Vanilla          6      6              6               6             6

In [20]:
df.groupby("BaseFlavor").sum()

,Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
BaseFlavor,,,,,
Chocolate,ChocolateRocky RoadChocolte Fudge Brownie,YesYesYes,25.2,21.7,47.1
Vanilla,Mint Chocolate ChipVanillaCookie DoughPistachi...,YesNoYesNoYesNo,34.2,33.9,68.1

In [24]:
dff.groupby("Department")["Salary"].mean()

Department
Finance    71000.0
HR         46500.0
IT         63000.0
Name: Salary, dtype: float64

## Group by with Aggregate

In [29]:
dff.groupby("Department")["Salary"].agg(["sum","mean","count",])

               sum     mean  count
Department
Finance     142000  71000.0      2
HR           93000  46500.0      2
IT          189000  63000.0      3

## Shorting

In [35]:
shortoff = dff.sort_values("Salary", ascending=False)
print(shortoff)

  Department Employee  Salary
5    Finance        F   72000
3    Finance        D   70000
2         IT        C   65000
6         IT        G   64000
0         IT        A   60000
4         HR        E   48000
1         HR        B   45000

In [39]:
group_short = dff.groupby("Department")["Salary"].mean().sort_values(ascending=False)

In [40]:
print(group_short)

Department
Finance    71000.0
IT         63000.0
HR         46500.0
Name: Salary, dtype: float64