In [13]:
import pandas as pd

a = [1,2,3,4,5,6]
myseries = pd.Series(a)
print(myseries)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [14]:
import pandas as pd
data = ({
    "name":["athar","maria","leo"],
    "age":[17,15,16],
    "job":["IT","Medical","IT"]
})

df = pd.DataFrame(data)
print(df)

    name  age      job
0  athar   17       IT
1  maria   15  Medical
2    leo   16       IT

In [19]:
df.to_csv("Export.csv", index=None) # Export in Csv file
df.to_json("Export.json", index=None) # Export in Json file

In [ ]:
pd.read_csv("Export.csv", index_col=1) # Read the Csv file

    name  age      job
0  athar   17       IT
1  maria   15  Medical
2    leo   16       IT